.container {
    display: flex;
     justify-content: flex-end; /*Changed from bottom to flex-end */
}
.box {
  width: 80px;
  height: 60px;
  background: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}