.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 80px;
  height: 60px;
  background: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}