.container1 {
    display: flex;
    flex-direction: row;
}
.container2 {
    display: flex;
    flex-direction: row-reverse;
}
.container3 {
    display: flex;
    flex-direction: column;

}
.container4 {
    display: flex;
    flex-direction: column-reverse;
}
.box {
    width: 60px;
    height: 60px;
    background-color: tomato;
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 5px;
}
.seperator {
    height: 2px;
    width: 100%;
    background-color: black;
}