.seperator {
    height: 2px;
    width: 100%;
    background-color: black;
}

.box {
    width: 60px;
    height: 60px;
    background-color: tomato;
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 5px;
}
.box4 {
    width: 60px;
    background-color: tomato;
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 5px;
}


.container1 {
    display: flex;
    align-items: flex-start;
    height: 200px;

}

.container2 {
    display: flex;
    align-items: center;
    height: 200px;

}

.container3 {
    display: flex;
    align-items: flex-end;
    height: 200px;

}

.container4 {
    display: flex;
    align-items: stretch;
    height: 200px;

}

.container5 {
    display: flex;
    align-items: baseline;
    height: 200px;

}