.Container 
{ 
    border: 3px solid black; 
    background-color: rgba(128, 128, 128, 0.123); 
} 
.Heading 
{ 
    color:white; 
    background-color: rgb(0, 0, 0); 
    margin:10px; 
} 
.box 
{ 
    background-color: white; 
       border:2px solid rgba(128, 128, 128, 0.325) ; 
       margin:15px 400px; 
       border-radius: 4px; 
} 
.image 
{ 
    border:1px solid rgba(128, 128, 128, 0.274); 
    margin:10px; 
} 
.line1 
{ 
    margin-right:230px; 
} 
.line2 
{ 
    font-size: 15px; 
} 
.line3 
{ 
    margin-right: 300px; 
    color:green; 
} 
#line4 
{ 
    color: rgba(128, 128, 128, 0.727); 
    text-decoration: line-through; 
} 
.line5 
{ 
    color:white; 
    background-color: rgba(0, 85, 255, 0.851); 
    padding:10px 150px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin:10px 5px; 
} 
